<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 扩展mapper -->
<mapper namespace="com.okex.mybatis.dao.OkexExtMapper">

	
  
  <!-- 查找最近一笔买入数据 -->
  <select id="selectLastedBuyRecord"  resultMap="OkexTradeRecordMap">
	    select 
	    *
	    from okex_trade_record
	    where id = (select max(id) from okex_trade_record where isOk = "Y")
  </select>
  <!-- 查询平均持仓价格 -->
  <select id="selectMyAvgPriceRecord"  resultType="java.math.BigDecimal">
	    select 
	    sum(amt)/sum(curamount)
	    from okex_trade_record
	    where type = "buy" and isOk = "Y"
  </select>
  <!-- 查询最近买入价格 -->
  <select id="selectLastBuyPrice"  resultType="java.math.BigDecimal">
	    SELECT curprice FROM okex_trade_record WHERE id = (SELECT 
	    MAX(id) FROM okex_trade_record)
  </select>
  <!-- 查询已花费usdt -->
  <select id="selectCostUsdtByAda"  resultType="java.math.BigDecimal">
	    SELECT SUM(amt) FROM okex_trade_record WHERE type = "buy" AND isOk = "Y"
  </select>
  
  <select id="selectOneGridConfig"  resultMap="OkexGridConfigMap">
	    select 
	    *
	    from okex_grid_config
	    where currency = #{currency}
  </select>
  <select id="selectLeftPlan"  resultType="java.lang.Integer">
	    select 
	    count(1)
	    from okex_grid_plan
	    where currency = #{currency} and buysts = 'filled'
  </select>
  
  <update id="upateTo9999" parameterType="String">
  	UPDATE okex_grid_plan SET buySts = '9999' , sellSts = '9999' 
  	WHERE buyId = #{orderId} OR sellId = #{orderId} and currency = #{currency};
  </update>
  <select id="selectBuyOrderNum" resultType="java.lang.Integer">
  	SELECT count(1) FROM okex_grid_plan 
  	WHERE 
  	buyId = #{orderId} and 
  	buySts not in ('9999','filled');
  </select>
  <select id="selectSellOrderNum" resultType="java.lang.Integer">
  	SELECT count(1) FROM okex_grid_plan 
  	WHERE 
  	sellId = #{orderId} and 
  	sellSts not in ('9999','filled');
  </select>
  <select id="selectOnchangePercent" resultType="java.lang.Double">
  	SELECT SUM(deal_percent) FROM okex_deal_change_config 
  	WHERE deal_price >= #{buyOnePrice} and currency = #{currency}
  </select>
  <select id="selectMinFilledOpen"  resultType="java.math.BigDecimal">
	SELECT MIN(buyPrice) FROM okex_grid_plan WHERE buySts = 'filled' AND sellSts = 'open' 
	and currency = #{currency}  
  </select>
  <select id="selectMinFilledOpenSell"  resultType="java.math.BigDecimal">
	SELECT MIN(sellPrice) FROM okex_grid_plan WHERE buySts = 'filled' AND sellSts = 'open' 
	and currency = #{currency}  
  </select>
  
  <!-- gridPlan批量插入 -->
  <insert id="insertGridPlanList" useGeneratedKeys="true" keyProperty="id">
  	insert into okex_Grid_Plan (currency, buyPrice, sellPrice, amount,buyAmt,
  	buyId,sellId,buySts,sellSts,create_date,update_date) values
  		<foreach item="item" collection="list" separator=",">
    		(#{item.currency}, #{item.buyprice}, #{item.sellprice}, #{item.amount},
    		#{item.buyamt},#{item.buyid},#{item.sellid},#{item.buysts},#{item.sellsts},
    		#{item.createDate},#{item.updateDate})
  		</foreach>
  </insert>
  
  <resultMap id="OkexGridConfigMap" type="com.okex.mybatis.model.OkexGridConfig">
    <!--
      @MBG Generated
      This element is automatically generated by MyBatis Generator,Do not modify ! Generated on Sun May 05 11:18:13 GMT+08:00 2019.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="currency" jdbcType="VARCHAR" property="currency" />
    <result column="x" jdbcType="DOUBLE" property="x" />
    <result column="y" jdbcType="DOUBLE" property="y" />
    <result column="n" jdbcType="INTEGER" property="n" />
    <result column="totalAmt" jdbcType="DECIMAL" property="totalamt" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <resultMap id="OkexTradeRecordMap" type="com.okex.mybatis.model.OkexTradeRecord">
    <!--
      @MBG Generated
      This element is automatically generated by MyBatis Generator,Do not modify ! Generated on Sat Aug 11 15:59:16 GMT+08:00 2018.
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="curprice" jdbcType="DECIMAL" property="curprice" />
    <result column="curamount" jdbcType="DECIMAL" property="curamount" />
    <result column="amt" jdbcType="DECIMAL" property="amt" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="isOk" jdbcType="VARCHAR" property="isok" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
	
	
	
</mapper>